  /*Build A Quiz App With JavaScript by Web Dev Simplified: https://youtu.be/riDzcEQbX6k
  AND 
  Build a Quiz App by James Q Quick: https://youtube.com/playlist?list=PLDlWc9AfQBfZIkdVaOQXi1tizJeNJipEx 
  used as a guide and reference for structuring quiz layout*/

body {
    background-color: lightsteelblue;
    margin: 0
}

#hgroup1 {
  padding-top: 150px;
  color: tomato;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    font-size: 48px;
    padding-top: 150px;
}

h2 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  margin: 0;
  font-size: 24px;
  padding-top: 25px;
  padding-bottom: 25px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin: 0;
    font-size: 16px;
}

/* Topbar-nav start - Learnt from W3Schools.com - Navigation bar: https://www.w3schools.com/css/css_navbar.asp */
.topbar-navigation {
    position: fixed;
    list-style: none;
    font-family: Arial, sans-serif;
    background-color: teal;
    display: inline-flex;
    flex-wrap: row wrap;
    justify-content : flex - end;
    font-size: 24px;
    width: 100%;
    border-bottom: 2px solid white;
}

.topbar-navigation a{
    text-decoration : none;
    display: inline-flex;
    color : white;
    padding-bottom : 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    }

.topbar-navigation a:hover{
   background-color: tomato;
   color: white;
    }
    
@media all and (max-width: 100px) {
        .topbar-navigation {
            justify-content: space-around;
        }
    }
    
@media all and (max-width : 600px) {
        .topbar-navigation {
        flex-flow : column wrap ;
        }
    
    
.topbar-navigation li :last-of-type a {
                border-bottom : none;
            }
    }
/* Topbar-nav end */

/* Logo portion of css for Homepage */
.logo {
  border-right: 2px solid white;
  color: white;
  background-color: teal;
  font-size: 24px; 
  font-family: Georgia, 'Times New Roman', Times, serif; 
  text-align: center;
}

/* Dropdown Menu portion of css for Homepage - Learnt from W3Schools.com - Dropdown Menu: https://www.w3schools.com/css/css_dropdowns.asp*/
.dropdown-button {
    background-color: teal;
    color: #000000;
    font-size: 22.2px;
    padding: 20px;
    align-self: left;
    cursor: default;
    font-family: Arial, sans-serif;
    color: #f9f9f9;
    border: 2px solid white;
    border-left: 2px solid teal;
}

.dropdown {
    position: fixed;
    left: auto;
    margin-top: 78px;
  }
  
  .dropdown :hover{
    background-color: tomato;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: turquoise;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }
  
  .dropdown-content a{
      color: black;
      padding: 20px;
      text-decoration: none;
      display: block;
      align-content: center;
      stroke-width: 10px;
    }
  
  .dropdown-content a:hover{
      background-color: tomato;
      color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display:block;
    text-decoration-color: #f9f9f9;
    background-color: turquoise;
  }

/*Container for Quiz*/

  .container {
    width: 50vw;
    height: fit-content;
    padding: 50px;
    max-width: 80%;
    font-family: Arial, sans-serif;
    font-size: 24px;
    background-color: teal;
    margin-top: 75px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    flex: auto;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 20px;
  }

  #question{
    margin: 20px;
  }

  .correct {
    background-color: rgb(31, 134, 31);
    border-radius: 20px;
  }

  .incorrect {
    background-color: rgb(134, 31, 31);
    border-radius: 20px;
  }

  .button-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
  }

  .choice-text{
    color: white;
    border: 2px solid;
    border-color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    border-radius: 20px;
    padding: 20px 20px;
    outline: none;
  }

  .choice-text:hover{
    border-color: black;
    cursor: pointer;
    box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.6)
  }

  /*Hud for Quiz*/

  #hud {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: turquoise;
    height: fit-content;
    width: 25%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    color: black;
  }

  #hgroup2 {
    color: black;
  }

  .hud-question-text {
    text-align: center;
    font-size: 24px;
  }

  footer {
    display: block;
    position: absolute;
    margin: 0;
    background-color: teal;
    color: #f9f9f9;
    font-family: Arial, sans-serif;
    width: 100%;
    text-align: bottom;
    text-indent: 16px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top: 2px solid white;
}